<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ye.db.employee.dao.mapper.TbNewEmployeeMapper">
  <resultMap id="BaseResultMap" type="com.ye.db.employee.entity.employee.TbNewEmployee">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="is_sync" jdbcType="BIT" property="isSync" />
  </resultMap>
  <sql id="Base_Column_List">
    id, id_number, create_time, update_time, is_delete, is_sync
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_new_employee
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.ye.db.employee.entity.employee.TbNewEmployee">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_new_employee (id_number, create_time, update_time, 
      is_delete, is_sync)
    values (#{idNumber,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=BIT}, #{isSync,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.ye.db.employee.entity.employee.TbNewEmployee">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_new_employee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idNumber != null">
        id_number,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="isSync != null">
        is_sync,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="isSync != null">
        #{isSync,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ye.db.employee.entity.employee.TbNewEmployee">
    update tb_new_employee
    <set>
      <if test="idNumber != null">
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="isSync != null">
        is_sync = #{isSync,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ye.db.employee.entity.employee.TbNewEmployee">
    update tb_new_employee
    set id_number = #{idNumber,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=BIT},
      is_sync = #{isSync,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>