<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ye.dubbo.user.dao.mapper.TbBaseEmployeeMapper" >
  <resultMap id="BaseResultMap" type="com.ye.dubbo.user.dao.entity.TbBaseEmployee" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="true_name" property="trueName" jdbcType="VARCHAR" />
    <result column="id_number" property="idNumber" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="nation" property="nation" jdbcType="VARCHAR" />
    <result column="culture_level" property="cultureLevel" jdbcType="VARCHAR" />
    <result column="politics_status" property="politicsStatus" jdbcType="VARCHAR" />
    <result column="birth_date" property="birthDate" jdbcType="DATE" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_cached_updated" property="isCachedUpdated" jdbcType="BIT" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, true_name, id_number, gender, nation, culture_level, politics_status, birth_date, 
    mobile, create_time, update_time, is_cached_updated, is_delete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_base_employee
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.ye.dubbo.user.dao.entity.TbBaseEmployee" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_base_employee (true_name, id_number, gender, 
      nation, culture_level, politics_status, 
      birth_date, mobile, create_time, 
      update_time, is_cached_updated, is_delete
      )
    values (#{trueName,jdbcType=VARCHAR}, #{idNumber,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, 
      #{nation,jdbcType=VARCHAR}, #{cultureLevel,jdbcType=VARCHAR}, #{politicsStatus,jdbcType=VARCHAR}, 
      #{birthDate,jdbcType=DATE}, #{mobile,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isCachedUpdated,jdbcType=BIT}, #{isDelete,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ye.dubbo.user.dao.entity.TbBaseEmployee" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_base_employee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="trueName != null" >
        true_name,
      </if>
      <if test="idNumber != null" >
        id_number,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="nation != null" >
        nation,
      </if>
      <if test="cultureLevel != null" >
        culture_level,
      </if>
      <if test="politicsStatus != null" >
        politics_status,
      </if>
      <if test="birthDate != null" >
        birth_date,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isCachedUpdated != null" >
        is_cached_updated,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="trueName != null" >
        #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null" >
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="cultureLevel != null" >
        #{cultureLevel,jdbcType=VARCHAR},
      </if>
      <if test="politicsStatus != null" >
        #{politicsStatus,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null" >
        #{birthDate,jdbcType=DATE},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isCachedUpdated != null" >
        #{isCachedUpdated,jdbcType=BIT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ye.dubbo.user.dao.entity.TbBaseEmployee" >
    update tb_base_employee
    <set >
      <if test="trueName != null" >
        true_name = #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null" >
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="nation != null" >
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="cultureLevel != null" >
        culture_level = #{cultureLevel,jdbcType=VARCHAR},
      </if>
      <if test="politicsStatus != null" >
        politics_status = #{politicsStatus,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null" >
        birth_date = #{birthDate,jdbcType=DATE},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isCachedUpdated != null" >
        is_cached_updated = #{isCachedUpdated,jdbcType=BIT},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ye.dubbo.user.dao.entity.TbBaseEmployee" >
    update tb_base_employee
    set true_name = #{trueName,jdbcType=VARCHAR},
      id_number = #{idNumber,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      nation = #{nation,jdbcType=VARCHAR},
      culture_level = #{cultureLevel,jdbcType=VARCHAR},
      politics_status = #{politicsStatus,jdbcType=VARCHAR},
      birth_date = #{birthDate,jdbcType=DATE},
      mobile = #{mobile,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_cached_updated = #{isCachedUpdated,jdbcType=BIT},
      is_delete = #{isDelete,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectSelective"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_base_employee
        <where>
            <if test="record.isCachedUpdated != null">
                and is_cached_updated = #{record.isCachedUpdated,jdbcType=DECIMAL}
            </if>
            <if test="record.isDelete != null">
                and is_delete = #{record.isDelete,jdbcType=DECIMAL}
            </if>
            <if test="pageWhere.pageSize != null">
                <![CDATA[ and ROWNUM <= #{pageWhere.pageSize}]]>
            </if>
        </where>
        order by ID desc
    </select>
</mapper>